<html xmlns:spring="http://java.sun.com/xml/ns/javaee" xmlns="http://www.w3.org/1999/html">
<head>
        <title> PlanPlus Login</title>
       <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.js"></script>
        <script type="text/javascript" src="/resources/js/app.js"></script>
        <script type="text/javascript" src="/resources/js/login_authentication.js"></script>
        <script type="text/javascript" src="/resources/js/login_controller.js"></script>


        <!--<script type="text/javascript" src="/resources/js/login_controller.js"></script>-->

        <style>

             .md-toolbar-tools  {
                background-color: orange;
            }
             .md-button.md-raised{
                background-color: #4285f4;
                 color: white;
            }
             .md-button.md-raised[disabled]{

                 background-color: #4285f4;
             }
             .md-button.md-raised:not([disabled]):hover {
                 background-color: orange;
             }
             .md-button[disabled],.md-button.md-raised[disabled]{
                 color: white;
             }

        </style>
    </head>
<body>
<div ng-app="LoginForm" >

        <md-content ng-app="LoginForm" ng-controller="FormSubmitController" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
            <md-card flex="flex" flex-gt-sm="50" flex-gt-md="30" >
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2><span>PlanPlus Online</span></h2>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <form name="Form" ng-controller="FormSubmitController">
                        <md-input-container class="md-block">
                            <label>Account Name</label>
                            <input type="text" name="accountname" ng-model="accountname"  required=""/>
                            <div ng-messages="Form.accountname.$error" role="alert" multiple="">
                                <div ng-message="" class="my-message">Please enter your Account Name.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Username</label>
                            <input type="text" name="username" ng-model="username"  required=""/>
                            <div ng-messages="Form.username.$error" role="alert" multiple="">
                                <div ng-message="" class="my-message">Please enter your Username.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input type="password" name="password" ng-model="password" required="" />
                            <div ng-messages="Form.password.$error" role="alert" multiple="">
                                <div ng-message="" class="my-message">Please enter your password.</div>
                            </div>
                        </md-input-container>
                        <md-button ng-disabled="!Form.$valid" ng-click="login()" class="md-raised ">&nbsp Login &nbsp</md-button>
                        <!--<input type="submit" id="submit" value="Login">-->
                    </form>
                </md-card-content>
            </md-card>
        </md-content>
        <!-- Angular Material Dependencies-->

    </div>
</body>
</html>